html {
    height:100%;
}
body {
    background:linear-gradient(#5CB5E6, blue);
}
h1 {
    color: #9400D3;
    border:3px dotted #FF1493;
    border-radius: 15px;
    box-shadow:4px 4px 10px #FFFAF0;
    font-size:40px;
    text-align: center;
    /*css comment*/
}

h2 {
    color: #FF21D5;
}

li {
    list-style-type: none;
    float:left;
    margin-right: 10px;
}

.red-text {
    color:red;
}

.underline {
    text-decoration: underline;
}

#gold-text {
    color: 	#FFD700;
}